name: BuildWin32

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string

jobs:
  papercraft:
    name: ${{ inputs.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Install pre-requisites
        run: |
          rustup target add i686-pc-windows-gnu
          sudo apt-get install -y gcc-mingw-w64 g++-mingw-w64 libz-mingw-w64-dev nasm
          sudo ln -s /usr/lib/gcc/i686-w64-mingw32/10-win32/include/c++ /usr/i686-w64-mingw32/include/c++
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build Win32
        run: |
          env PKG_CONFIG_ALLOW_CROSS="1" \
              PKG_CONFIG_LIBDIR="/usr/i686-w64-mingw32/lib/pkgconfig/" \
              WINDRES=i686-w64-mingw32-windres \
              RUSTFLAGS="-Clink-arg=-mwindows" \
              CARGO_TARGET_DIR=win32target \
              cargo build --release --target i686-pc-windows-gnu
      - name: Pkg win32
        run: |
          mkdir -p pkg32/papercraft
          cd pkg32/papercraft
          ln -s ../../win32target/i686-pc-windows-gnu/release/papercraft.exe .
          ln -s /usr/lib/gcc/i686-w64-mingw32/*-win32/libstdc++-6.dll .
          ln -s /usr/lib/gcc/i686-w64-mingw32/*-win32/libgcc_s_dw2-1.dll .
          mkdir examples
          cd examples
          ln -s ../../../examples/*.craft .
          cd ../..
          zip -r "../Papercraft-${{ inputs.name }}-win32.zip" papercraft
      - name: Upload artifact win32
        uses: actions/upload-artifact@v4
        with:
          name: Papercraft-${{ inputs.name }}-win32.zip
          path: Papercraft-${{ inputs.name }}-win32.zip
          if-no-files-found: error
