[Desktop Entry]
Name=Papercraft
Icon=papercraft
Exec=papercraft %F
Terminal=false
Type=Application
MimeType=application/x-papercraft
Categories=Graphics;3DGraphics;
Keywords=3D;Papercraft;craft
StartupNotify=false
